@media screen and (max-width: 1000px) {
    .nav-item
    {
        margin: 0;
    }
.card_me{
    grid-template-columns: auto auto;
}
.line
{
    display: none;
}
.skill_grid
{

    grid-template-columns: 50% 50%;
    
}

  }

  @media screen and (max-width: 766px){
    .p_img
    {
        display: none;
    }
    .card_me{
        grid-template-columns: auto;
    }
    .item
    {
        text-align: center;
    }
    .skill_grid
{

    grid-template-columns: 100%;
    
}
.line
{
    display: none;
}
  }