@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar-brand
{
    font-family: 'Teko', sans-serif;
    font-size: 40px !important; 
}
.name_clr
{
    color: #FF4518;
}
.nav-item
{
    color: #2D365F !important;
    font-size: 20px !important;
    margin-right: 30px;
}
.active
{
    color: #FF4518 !important;
    font-weight: bold;
}

.nav-item:last-child
{
    margin-right: 0px;
}
.nav-link:hover{
    color: #FF4518 !important;
}
.p_img
{
     width: 50%;
     height: 50%;
}
.hero
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}
.item
{
    flex: 50%;
}
.item1 h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.button_or
{
    text-decoration: none;
    padding: 5px 15px;
    background: #FF4518;
    border-radius: 15px;
    color: white;
    margin-right: 10px;
    transition: all .5s ease;
}
.button_or:hover

{
    background: #9206d3;
    color: white;
}
.fa-brands
{
    font-size: 20px;
    margin-right: 10px;
}
.card_me
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    grid-gap: 20px;
    padding: 60px 0px;
}
.item-grid
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 1px rgb(45, 51, 53);
}
.gr_bg
{
    background: #EEE4E4;
}
.item-grid h2 
{
    color: #FF4518;
    margin-top: 15px;
}
.item-grid p
{
    color: rgb(71, 66, 59);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.fa-crop
{
    font-size: 40px;
    color: #FF4518;
}

.main
{
    width: 100%;
    height: 20px;
    background: #523F62;
    margin-bottom: 60px;
    border-radius: 20px;
}
.sub
{
    width: 50%;
    height: 20px;
    background: #FF4518;
    
    margin-bottom: 60px;
    border-radius: 20px;
}
.skill_grid
{
    display: grid;
    grid-template-columns: 49% 2% 49%;
    align-items: center;
    justify-content: space-between;
    
}
.skill_item
{
    margin-right: 50px;
}
.skill_bg
{
    background-color: #080C3A;
}
.skill_item h3
{
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.skill_item h4
{
 
    margin-top: 30px;
    color: white;
}



.skill_item2 h3
{
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.skill_item2
{
    margin-left: 10px;
}
.skill_item2 h4
{
 
    margin-top: 30px;
    color: white;
}
.line
{
    height: 500px;
    width: 2px;
    background-color: #e2e2e6;
    
}